body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.header {
    height: 120px;
    background: linear-gradient(300deg, #05bffd, #63383b, #3be7c2);
    background-size: 120% 240%;
    animation: gradient-animation 18s ease infinite;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.header li {
    display: inline;
    list-style: none;
    margin-right: 50px;   
    cursor: pointer; 
}

.header li:hover {
    border-bottom: 2px solid aquamarine;    
}

.header ul {
    font-size: 24px;
    text-align: end;
    color: aquamarine;
     
}

h1 {
    color: rgb(29, 6, 6);
    background-color: ;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-size: 30px;
}

#name {
    
}